.auth-forms-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.google-button {
    width: 100%;
    min-width: 100%;
    margin-top: 10px;
}

.page-heading {
    text-align: center;
    margin-top: 20px;
}

.form-container {
    margin: 10px;
}
